/* Propiedades Generales */

@font-face {
    font-family: "Helvetica2";
    src: url("/resources/fonts/HelveticaNeueDeskInterface.ttc");
}

html{
    font-size: 62.5%; /*1rem = 10px*/
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body{
    font-size: 1.6rem;
    background-color: #E5E5E7;
    font-family: Helvetica;
}

.contenedorPrincipal {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 42rem;
    overflow: hidden;
}

.mobile {
    display: none;
}

/* ----------------------------PAGINA DE INTRODUCCIÓN---------------------- */
/* Logotipo */

.contenedorImagen {
    width: 100%;
    overflow: hidden;
}

.contenedorImagen img{
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    display: block;
}

/* Mision */
.contenedorPrincipal p{
    font-weight: 400;
    text-transform: uppercase;
    line-height: 3rem;
    letter-spacing: 0.2rem;
    font-size: 1.6rem;
    padding: 0 25rem;
    color: hwb(0 44% 56%);
}

@media only screen and (max-width: 1331px){
    .contenedorPrincipal p{
        padding: 0 5rem;
    }
}

/* Navegación principal */
.navPrincipal{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    text-transform: uppercase;
    padding-left: 0;
    min-height: 5rem;
    margin: auto 0;
}

@media (max-width: 682px) {
    .contenedorPrincipal{
        width: 95%;
     }

    .contenedorPrincipal p{
        display: none;
    }
    .navPrincipal{
        flex-direction: column;
        min-height: 20rem;
    }

    .mobile{
        display: block;
    }

    .desktop{
        display: none;
    }

    .navPrincipal li{
        font-size: 1.325rem;
    }

    .navRedes img{
        width: 2rem;
    }
}

.navPrincipal li{
    padding: 1rem 2rem;
    font-weight: 500;
}

.navPrincipal a:link, .navPrincipal a:visited{
    font-weight: 400;
    text-decoration: underline;
    color: blueviolet;
}
.navPrincipal a:hover{
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    transition: 0.2s;
}
.navPrincipal a:active{
    font-weight: bold;
    color: black;
}

/*  Navegación de redes sociales */

.navRedes{
    display: flex;
    justify-content: center;
    list-style: none;
}

.logos{
    width: 3rem;
    color: grey;
}

.abajo{
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
}

@media only screen and (max-height: 420px){
    .abajo{
        position: relative;
        bottom: 0;
    }
}

.abajo ul{
    padding-left: 0;
}

.navRedes li{
    padding: 0 2rem;
}

.navRedes a:link, .navRedes a:visited{
    opacity: 0.4;
 }
 .navRedes a:hover img{
     scale: 1.5;
     transition-duration: 0.3s;
 }
 .navRedes a:hover{
    opacity: 0.6;
 }
 .navRedes a:active{
     opacity: 1;
 }

.navRedes a{
    text-decoration: none;
}